@using ShopAdoWeb.Models
@model IEnumerable<Good>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href='@Url.Content("~/Content/bootstrap.min.css")' rel="stylesheet" type="text/css" />
    <script src='@Url.Content("~/Scripts/bootstrap.min.js")'></script>
    <title>ShowGoods</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Count</th>
                <th>Manufacturer</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Good good in ViewBag.Goods)
            {
             <tr>
                <td>@good.GoodName</td>
                <td>@good.Price</td>
                <td>@good.GoodCount</td>
                @if (@good.ManufacturerId == null)
                {
                    <td>-</td>
                }
                else
                {
                    <td>@good.Manufacturer.ManufacturerName</td>
                }
                @if (@good.CategoryId == null)
                {
                    <td>-</td>
                }
                else
                {
                    <td>@good.Category.CategoryName</td>
                }
                <td>
                    <a href="/Good/Delete/@good.GoodId" class="btn btn-danger">Delete</a>
                </td>
             </tr>
             }
        </tbody>
    </table>
    <a id="MainContent_ctl00_SomeLinkButton"
       class="btn btn-danger btn-sm"
       href="/Category/ShowCategory">Categories</a>
    <a id="MainContent_ctl00_SomeLinkButton"
       class="btn btn-warning btn-sm"
       href="/Manufacturer/ShowManufacturer">Manufacturers</a>

    <div class="mt-2">
        @Html.ActionLink("<", "ShowGoods", "Good", new { id = ViewBag.IncrDecr - 1 }, new { @class = "btn btn-lg btn-info mr-1" })
        @for (int i = 0; i < (int)ViewBag.PageCount; i++)
        {
            @Html.ActionLink((i+1).ToString(),
                               "ShowGoods",
                               "Good",
                               new { id = i + 1 },
                               new { @class = "btn btn-lg btn-success mr-1"})
        }
        @Html.ActionLink(">", "ShowGoods", "Good", new { id = ViewBag.IncrDecr + 1 }, new { @class = "btn btn-lg btn-info mr-1" })
    </div>
</body>
</html>
